/* body */
body{
    overflow-x: hidden; /*cacher le surplus (scroll) horizontal*/
}
/* header */

/*Nav*/

.menutop Nav{
    margin-top: 1.5rem;
}
nav{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;

    color: black;
}
.navleft{
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.logo{   
    border: 1px solid rgb(255,114,53);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(255,114,53);
}
.logo p{
    text-align: center;
    position: relative;
    top: -05px;
    color: white;
    font-weight: bold;
}
.buttonright{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 120px;
    height: 50px;
    background-color: white;

    color: rgb(255,114,53);
    font:bold;
} 
.buttonright:hover{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 120px;
    height: 50px;
    background-color: rgb(255,114,53);

    color: white;
    font:bold;
}

.menu{
    list-style: none;

    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 80px;
}
.menu a{
    color: #6C6C71;
    text-decoration: none;
}

/*containeur*/

.containeur{
    display: flex;
    height: 80vh;
    width: 1050px;
    margin: 0 auto;
}
.content:first-child p{
    color: rgb(189,189,189);
    font-size: 25px;
}
.content{
    margin: 0 auto;
    width: 80vh;
    height: 480px;
}
.content h1{
    color: rgb(41,40,48);
    font-size: 90px;
    line-height: 80px;
    letter-spacing: 2px;
    margin: 0 auto;
}
.buttoncontent{
    padding-top: 80px;
    display: flex;
    align-items: center;
}
.buttoncontent button{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;
    background-color: rgb(255,114,53);
    
    font-size: 20px;
    color: white;
    font: bold;
}
.buttoncontent button:hover{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;
    background-color: white;
    
    font-size: 20px;
    color: rgb(255,114,53);
    font: bold;
}
.buttoncontent p{   
    color: rgb(202,202,202);
    font-size: 22px;
    text-align: center;
}
.arrow {  
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.contimage img{
    width: 550px;
    height: 500px;
    
    
}

/* main */

.overview{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.over{
    background-color: rgb(255,114,53);
    width: 100%;
    height: 85%;
}
.over img{
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    display: block;
    padding-top: 85px;
}
.logom img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo-marque{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    margin: 0 auto;
    filter: grayscale(1);
    margin-bottom: 150px;
}
.logom{
    height: 40px;
    width: 200px;
    filter: opacity(0.3);
    padding-top: 60px;
}
.About{
    display: flex;
    height: 80vh;
    width: 1050px;
    margin: 0 auto;
}
.aboutimg{
    position: relative;
    left: 100px;
}

.section-a{
    width: 100vw;
    height: 100vh;
}
.Aboutext h1{
    color: rgb(41,40,48);
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
.Aboutext span{
    color: rgb(189,189,189);
    margin-bottom: 150px;
    text-transform: uppercase;
}
.Aboutext p{
    color: rgb(214,214,214);
    text-transform: capitalize;
    font-size: 20px;
}
.Aboutext button{
    border: 1px none rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;

    background-color: white;
    color: rgb(255,114,53);
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;

    margin: 0 auto;
    margin-left: 0 auto;
}
.Aboutext button:hover{
    border: 1px none rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;

    background-color: rgb(255,114,53);
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    margin: 0 auto;
}
.choose{
    width: 100vw;
    height: 100vh;
}
.choose h1{
    font-size: 65px;
    color: rgb(41,40,48);
    text-align: center;
}
.select{
    display: flex;
    justify-content: space-between;

    width: 75vw;
    max-height: 520px;

    margin: 90px auto 0 auto;
    gap: 40px;
}
.card{
    width: 33%;
    height: 480px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border: 1px solid #80808021;
    border-radius: 12px;

    padding: 0 40px;
}
.card:hover {
    background-color: #FFF;
    box-shadow: 1px 1px 10px lightgray;
}
.card ul{
    list-style: none;
}
.card ul li::before{
    content: '✓';
}
.card h3{
    font-size: 25px;
}
.card button{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;

    background-color: white;
    color: rgb(255,114,53);
    font-size: 16px;
}
.card button:hover{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;

    background-color: rgb(255,114,53);
    color: white;
    font-size: 16px;
}
.card strong{
    font: bold;
    font-size: 25px;
}
.card p{
    position: relative;
    margin: -10px
}
.year{
    color: rgb(197,197,197);
}
.up{
    
    color: rgb(197,197,197);
}
/* footer */