/* body */

/* header */

/*Nav*/

.menutop Nav{
    margin-top: 1.5rem;
}
nav{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;

    color: black;
}
.navleft{
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.logo{   
    border: 1px solid rgb(255,114,53);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(255,114,53);
}
.logo p{
    text-align: center;
    position: relative;
    top: -05px;
    color: white;
    font-weight: bold;
}
.buttonright{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 120px;
    height: 50px;
    background-color: white;

    color: rgb(255,114,53);
    font:bold;
} 
.buttonright:hover{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 120px;
    height: 50px;
    background-color: rgb(255,114,53);

    color: white;
    font:bold;
}

.menu{
    list-style: none;

    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 80px;
}
.menu a{
    color: #6C6C71;
    text-decoration: none;
}

/*containeur*/

.containeur{
    display: flex;
    color: rgb(215,215,215);
    height: 100vh;
}
.content{
    margin: 0 auto;
    background-color: blue;
    width: 80vh;
    height: 480px;


}
.content h1{
    color: rgb(41,40,48);
    font-size: 90px;
    line-height: 80px;
    letter-spacing: 2px;
}
/*.content p:first-child{
    color: rgb(198,198,198);
    font-size: 80px;
    text-align: center;
    margin-top: -65px;
}*/
.buttoncontent{
    display: flex;
    align-items: center;
}
.buttoncontent button{
    border: 1px solid rgb(255,114,53);
    border-radius: 10px;

    width: 180px;
    height: 60px;
    background-color: rgb(255,114,53);
    
    font-size: 20px;
    color: white;
    font: bold;
}
.buttoncontent p{   
    color: yellow;
    font-size: 22px;
    text-align: center;
}
.arrow {  
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.contimage{
    display: flex;
    justify-content: flex-end;
    width: 450px;
    height: 400px;
}

/* main */

.logom img{
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    object-fit: contain;
}
.logo-marque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.logom{
    height: 100px;
    width: 100px;
}
.cloud button{
    border: 1px none white;
    background-color: white;
    color: rgb(255,159,118);
    text-transform: capitalize;
    font-size: 20px;
}

/* footer */